				<div class="box">
					<h4 class="rounded-top">{L_25_0012}</h4>
					<div class="rounded-bottom">
						<ul class="menu">
							<li><a href="{SITEURL}admin/fees.php">{L_25_0012}</a></li>
							<li><a href="{SITEURL}admin/fee_gateways.php">{L_445}</a></li>
							<li><a href="{SITEURL}admin/enablefees.php">{L_395}</a></li>
							<li><a href="{SITEURL}admin/accounts.php">{L_854}</a></li>
							<li><a href="{SITEURL}admin/invoice_settings.php">{L_1094}</a></li>
							<li><a href="{SITEURL}admin/withdrawal_requests.php">Withdrawal Requests</a></li>
							<li><a href="{SITEURL}admin/invoice.php">{L_766}</a></li>
							<li><a href="{SITEURL}admin/tax.php">{L_1088}</a></li>
							<li><a href="{SITEURL}admin/tax_levels.php">{L_1083}</a></li>
						</ul>
					</div>
				</div>
				<div class="box">
					<h4 class="rounded-top">{L_1061}</h4>
					<div class="rounded-bottom">
						<form name="anotes" action="" method="post">
							<textarea rows="15" name="anotes" class="anotes">{ADMIN_NOTES}</textarea>
							<input type="hidden" name="csrftoken" value="{_CSRFTOKEN}">
							<input type="submit" name="act" value="{L_007}">
						</form>
					</div>
				</div>