<div class="row">
	<div class="col-md-12">
		<div class="col-md-12 well">
			
			<div class="panel panel-success">
		<div class="panel-heading">Sellers</div>
		<div class="panel-body"></div>
<!-- IF ERROR ne '' -->
			<div class="alert alert-danger">
				{ERROR}
			</div>
<!-- ENDIF -->

<!-- BEGIN sellers -->
<b><u>Seller:</u></b><br><b>User Name:</b> {sellers.NICK}<br><b>Full Name:</b> {sellers.NAME}<br><b>City:</b> {sellers.CITY}<br><a href="{SITEURL}active_auctions.php?user_id={sellers.ID}">View Sellers Auctions</a><br>
<hr>
 <!-- END sellers -->
			
			</div>
		</div>
	</div>
</div>
